@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {
	top: 0;
	left: 0;
	background-color: #EDA4C2;
}

/* Areá do coração */

.heart {
	position: absolute;
	top: 100px;
	left: 57%;
	width: 500px;
	height: 500px;
	margin-left: -250px;
}

/* Lado esquerdo do coração */

.left {
	top: 0;
	left: 0;
	width: 230px;
	height: 350px;
	background: #fff;
	-webkit-border-radius:100% 100% 100px 0px;
    -moz-border-radius:100% 100% 100px 0px;
    border-radius:100% 100% 100px 0px;
	-webkit-transform:rotate(320deg);
    -moz-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    transform:rotate(320deg);
}

/* Lado direito do coração */

.right {
	position: absolute;
	left: 93px;
	top: 0;
	width: 230px;
	height: 350px;
	background: #fff;
	-webkit-border-radius:100% 100% 0px 100px;
    -moz-border-radius:100% 100% 0px 100px;
    border-radius:100% 100% 0px 100px;
	-webkit-transform:rotate(320deg);
    -moz-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    transform:rotate(50deg);
}

/* Área da mensagem fofa */

.msg {
	position: absolute;
	top: 630px;
	left: 0;
	width: 100%;
	height: auto;
	background: rgba(0, 0, 0, .1);
}

/* Mensagem fofa */

.msg h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 72pt;
	color: #fff;
}

/* Rodapé */

.msg p {
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14pt;
	color: #fff;
}

.msg a:link, .msg a:visited {
	text-decoration: none;
	color: #fff;
	-webkit-transition:border 0.3s;
    -moz-transition:border 0.3s;
    -o-transition:border 0.3s;
    transition:border 0.3s;
}

.msg a:hover {
	border-bottom: 3px solid #fff;
}