@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Oswald);

html {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body {
	background: url('../images/valedoanhangabau-sp.jpg') no-repeat;
	background-size: cover;
}

div#name-bg {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

div#name {
	display: block;
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 38pt;
	color: #fff;
	top: 40%;
	left: 40%;
}