#main-menu
    position fixed
    width 100%
    top 0
    font-size 0
    background-color $baseColor
    z-index 1
    
    & #menu-button
        display inline-block
        width 4.9rem
        height 4.4rem
        padding .7rem
        cursor pointer
        
        & span
            &, &:before, &:after
                position relative
                display block
                width 3.5rem
                height .6rem
                background-color #fff
                transition all 300ms
                
            &:before, &:after
                content ''            
                top 1.2rem
            
            &:after
                top 1.8rem

        &.active
            & span
                margin-top 1.2rem
                transform rotateZ(45deg)
                
                &:before
                    opacity 0
                    
                &:after
                    margin-top -2.4rem
                    transform rotateZ(-90deg)

    & .menu-content
        max-height 0
        box-shadow 0 .5rem 1rem rgba(0, 0, 0, .7)
        overflow hidden
        transition max-height 300ms

        & .menu-item
            font-size 0
            background-color lighten($baseColor, 5%)
            border-bottom .1rem solid $baseColor

            & a
                &, &:link, &:visited
                    display block
                    padding .5rem 1rem .5rem 1rem
                    outline none
                    text-decoration none
                    font-size 2rem
                    color #fff
                
                &:hover
                    text-decoration underline        

                &:active
                    color $primaryColor
                
        &.active
            max-height 15rem