#header
	position relative
	width 100%
	height 20rem
	background-color $baseColor
	
	& .content
		position relative
		width 70%
		top 55%
		margin 0 auto
		text-align center
		transform translateY(-50%)

		& h1
			margin-bottom .3rem
			font-family $titleFont
			font-size 2.5rem
			color $primaryColor
			
			& span
				color $secondaryColor	
				
		& h2
			font-size 1.4rem
			font-weight normal
			color #fff