@import "imports/vars.styl"
@import "imports/vendors.styl"
@import "imports/base.styl"
@import "imports/classes.styl"
@import "imports/menu.styl"
@import "imports/header.styl"
@import "imports/footer.styl"
.posts
	width 100%
	padding 1rem .3rem 1rem .3rem
	margin 0 auto
	
	.post-item
		margin-bottom 1rem
		
		& .post-date
			float left
			padding .7rem
			text-align center
			
			& .day
				display block
				font-size 4rem
				font-weight bold
				
			& .month-year
				font-size 1.2rem
				
		& .post-content
			padding .7rem
			border-left 1px solid lighten($baseColor, 90%)
			overflow hidden
			text-align justify
			
			& .post-title
				font-size 2rem

				& .post-link
					text-decoration none
									
			& .post-preview
				margin-top .7rem
				font-size 1.2rem