|---
|layout: default
|---
| 
section.posts {% for post in site.posts %}
	article.post-item
		.post-date
			span.day {{ post.date | date: "%d" }}
			span.month-year {{ post.date | date: "%b %Y" }}

		.post-content
			h1.post-title
				a.post-link(href="{{ post.url | prepend: site.baseurl }}") {{ post.title }}
					
			p.post-excerpt {{ post.excerpt | strip_html | truncatewords: 40 }} 
				a.read-more(href="{{ post.url | prepend: site.baseurl }}") Leia mais

	| {% endfor %}
		
