|---
|layout: default
|---
| 
section.posts
	ul.post-list {% for post in site.posts %}
		li
			span.post-meta {{ post.date | date: "%b %-d, %Y" }}
			h2
				a.post-link(href="{{ post.url | prepend: site.baseurl }}") {{ post.title }}
				
			p {{ post.content | strip_html | truncatewords: 42 }}&nbsp;
				a(href="{{ post.url |prepend: site.baseurl }}") Leia mais

		| {% endfor %}
		
