html(lang="pt-br")
  head
    meta(charset="UTF-8")
    title nikolas silva
    link(rel="stylesheet" href="assets/components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="assets/css/main.min.css")
  body
    .container
      canvas#bullets
      main#main
        h1.page-title nikolas silva
        ul.social-media
          li: a(href="https://github.com/nikolassilva" target="_blank"): i.fa.fa-github
          li: a(href="https://twitter.com/nikolas_rsilva" target="_blank"): i.fa.fa-twitter
          li: a(href="https://www.linkedin.com/profile/view?id=AAIAABl5DF4BnR6VBd1oKYPbBcnentv_mLzn54g" target="_blank"): i.fa.fa-linkedin
    script(src="assets/js/main.min.js")