doctype html
html(lang="pt-br")
	include _head.jade
		block stylesheets
			link(rel="stylesheet" href="css/main.css")

	body
		include _menu.jade
		include _header.jade

		| {{ content }}

		include _footer.jade