doctype html
html(lang="pt-br")
	include _head.jade
		block stylesheets
			link(rel="stylesheet" href="{{ 'assets/css/main.css' | prepend: site.baseurl }}")

	body
		include _menu.jade
		include _header.jade

		| {{ content }}

		include _footer.jade