@import "imports/base";

html, body {
  overflow: hidden;
}

#main {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 50%;
  margin-top: -100px;
  text-align: center;
}

.page-title {
  font-size: 5em;
  color: #FFF;
  margin-bottom: 20px;
}

.social-media {

  & li {
    display: inline-block;
  }

  & a:link,
  & a:visited {
    display: block;
    margin: 0 10px;
    font-size: 4em;
    color: #FFF;
  }

  & a:hover {
    color: #FFFF00;
  }

}